<section class="hero-sect">
    <div class="hero-sect_content">
        <h2 class="title">Our Management</h2>
        <!-- <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id.</p> -->
    </div>
</section>

<section class="sect team">
    <div class="container">
        <div class="team_list">
            <div class="team_list_item clickable" *ngFor="let member of members" [title]="member.name" (click)="openMemberDetails(member)">
                <img [src]="member.image" alt="image">
                <div class="team_list_item_details">
                    <h5 class="name">{{member.name}}</h5>
                    <p class="role">{{member.role}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal" *ngIf="isMemberModal">
    <div class="modal_area" [class.show]="isMemberModal">
        <app-team-details [member]="currentMember" (memberDetailsModal)="closeMemberDetails()"></app-team-details>

        <span class="modal_area_close clickable" (click)="isMemberModal = false">
            <img src="../../../../../assets/img/svg/close-square.svg" alt="icon" class="icon">
        </span>
    </div>
</div>