<section class="services sect">
    <div class=" container sect_header">
        <h2>Our Services</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id.</p>
    </div>

    <div class="services_list">
        <div class="services_list_item">
            <div class="services_list_item_img">
                <span class="icon">
                    <img src="../../../../../assets/img/svg/home.svg" alt="">
                </span>
            </div>
            <h4 class="title">Real Estate, Property/Building & Facility Management</h4>
            <p>Lorem ipsum dolor sit amet consectetur. Ut turpis pulvinar dis eu dui aliquet tellus lectus. Mauris tellus sapien sodales neque natoque.</p>
        </div>
        <div class="services_list_item">
            <div class="services_list_item_img">
                <span class="icon">
                    <img src="../../../../../assets/img/svg/wallet-check.svg" alt="">
                </span>
            </div>
            <h4 class="title">Financial Technology</h4>
            <p>Lorem ipsum dolor sit amet consectetur. Ut turpis pulvinar dis eu dui aliquet tellus lectus. Mauris tellus sapien sodales neque natoque.</p>
        </div>
        <div class="services_list_item">
            <div class="services_list_item_img">
                <span class="icon">
                    <img src="../../../../../assets/img/svg/chart.svg" alt="">
                </span>
            </div>
            <h4 class="title">Financial Institutions Investment</h4>
            <p>Lorem ipsum dolor sit amet consectetur. Ut turpis pulvinar dis eu dui aliquet tellus lectus. Mauris tellus sapien sodales neque natoque.</p>
        </div>
    </div>

    <div class="container sect_more">
        <div class="sect_more_btns dis-flex">
            <button class="btn prim_btn" routerLink="/projects">View more</button>
            <button class="btn sec_btn" routerLink="/contact">Contact Us</button>
        </div>
    </div>
</section>