@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';

.lt_flex_content {
  align-items: flex-start;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .lt_flex_details {
    flex-basis: 35%;
  }

  .lt_flex_cards {
    flex-basis: 55%;

    .services_list {
      @include card(280px);

      &_item {
        background-color: $primary1;
        padding: $s-4 $s-2;
        border-radius: $border-radius2;
        box-shadow: $box-shadow1;
        display: grid;
        grid-gap: $s-2;
        align-content: flex-start;
        &_img {
          display: flex;
          justify-content: center;

          .icon {
            @include icon-area(55px, $primary6);

            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}

// sect more 
.sect_more {
  margin: $s-3 auto;
}
