@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';

.services {
  background-image: linear-gradient(rgba(2, 45, 51, 0.7), rgba(2, 45, 51, 0.7)), url('../../../../../assets/img/services-hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lt_flex_content {
  align-items: flex-start;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .lt_flex_details {
    flex-basis: 35%;
    color: $white-color;
    &_title {
    }
  }

  .lt_flex_cards {
    flex-basis: 65%;

    .services_list {
      @include card(350px);
      gap: $s-2;
      &_item {
        background-color: $primary1;
        padding: $s-4 $s-2;
        border-radius: $border-radius2;
        box-shadow: $box-shadow1;
        display: grid;
        grid-gap: $s-2;
        align-content: flex-start;
        border: 1px solid transparent;
        transition: all .2s ease;
        &_img {
          display: flex;
          justify-content: center;

          .icon {
            @include icon-area(35px, $primary6);

            img {
              width: 20px;
            }
          }
        }
        .title {
          text-align: center;
        }
        &:hover {
          border: 1px solid $white-color;
        }
      }
    }
  }
}

// sect more 
.sect_more {
  margin: $s-3 auto;
}
