@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';

.projects {
  &_wrapper {
    background-color: $primary6;
    padding: $s-4;
  }

  &_list {
    @include card(350px);

    max-width: 1200px;
    margin: auto;

    &_item {
      background-color: $white-color; 
      padding: $s-4 $s-2;
      border-radius: $border-radius3;
      box-shadow: $box-shadow1;
      display: grid;
      grid-gap: $s-2;
      align-content: flex-start;
      &_img {
        display: flex;
        justify-content: center;

        .icon {
          @include icon-area(55px, $primary6);

          img {
            width: 40px;
          }
        }
      }
      .title {
        text-align: center;
      }
    }
  }
}

// sect more 
.sect_more {
  margin: $s-3 auto;
}
