<section class="projects sect">
  <div class="bubble-container">
    <div class="bubble left bottom"></div>
  </div>
  <div class="container sect_header">
    <h2>Our projects</h2>
    <p>Diverse portfolio of investment options and expert financial guidance to help clients reach their financial goals. They use advanced technology to support clients' wealth growth.</p>
  </div>

  <div class="projects_wrapper">
    <div class="projects_list">
      <div class="projects_list_item" *ngFor="let project of projects">
        <div class="projects_list_item_img">
          <span class="icon">
            <img [src]="project.icon" alt="">
          </span>
        </div>
        <h4 class="title">{{project.title}}</h4>
        <p>{{project.description}}</p>
      </div>
    </div>
  </div>

  <div class="container sect_more">
    <div class="sect_more_btns dis-flex">
      <button class="btn prim_btn" routerLink="/services">View more</button>
      <!-- <button class="btn sec_btn" routerLink="/contact">Contact Us</button> -->
    </div>
  </div>
</section>
