<div class="career-details">
    <div class="career-details_content">
        <h4 class="title">{{career?.title}}</h4>

        <!-- <p class="description">{{career?.description}}</p> -->
        <p class="description">Lorem ipsum dolor sit amet consectetur. Id nullam urna in sed odio enim nisl. Quis malesuada erat amet dolor augue lectus vulputate diam urna. Scelerisque molestie gravida tellus id amet nulla adipiscing habitant pharetra. Nec ut netus nisi tempus nibh nulla sed tristique semper. Tincidunt amet sodales diam malesuada et vel mattis amet fames. Leo id et turpis pellentesque. Netus id elementum et nulla blandit aliquet vitae in ut. Eget odio lorem egestas mi. Duis mattis parturient lectus mauris. Varius odio sem non scelerisque laoreet elit. Nunc egestas condimentum consectetur sit sit facilisis enim hac tempus. Enim viverra facilisis scelerisque etiam vulputate purus. Egestas eu mattis dictumst amet neque sit mattis.
        Viverra placerat duis lacus vel libero pellentesque. Risus eget viverra quis nec augue magnis tempus vel augue. Nunc at dictum eu nunc. Pretium et bibendum ipsum vel dui feugiat viverra quam. Erat auctor integer bibendum tempor a posuere. Amet eget lacus ultrices justo nibh risus condimentum. Integer arcu eget duis tellus urna sit. Posuere facilisis neque in pellentesque quam magna. Habitant velit lacus dolor massa id accumsan vitae. Vel pretium tristique nulla malesuada imperdiet. Turpis tellus egestas enim morbi quam duis. Fringilla lobortis dictum senectus ipsum pellentesque risus amet sed. Tellus aliquet facilisis sit ut sem condimentum.</p>

        <a href="mailto: dheyved@gmail.com" class="career-details_content_btn"><button class="btn prim_btn">Apply now</button></a>
    </div>
</div>