@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.benefits {
  margin: auto;

  @media only screen and (min-width: 745px) {
    width: 85%;
    max-width: 1440px;
  }

  @media only screen and (min-width: 1040px) {
    width: 70%;
  }

  &_list {
    gap: $s-4;
    justify-content: space-around;
    flex-wrap: wrap;
    background: $secondary6;
    color: $white-color;
    padding: $s-2;

    @media only screen and (min-width: 745px) {
      gap: $s-2;
    }

    &_item {
      gap: $s-2;
    }
  }
}

// Sect more
.sect_more {
  margin: $s-6 auto;
}
