<app-home-hero></app-home-hero>
<section class="benefits">
    <ul class="benefits_list dis-flex">
        <li class="benefits_list_item dis-flex">
            <img src="../../../../assets/img/svg/presention-chart.svg" alt="">
            <h5>Financial growth</h5>
        </li>
        <li class="benefits_list_item dis-flex">
            <img src="../../../../assets/img/svg/shield-security.svg" alt="">
            <h5>Guaranteed Safety</h5>
        </li>
        <li class="benefits_list_item dis-flex">
            <img src="../../../../assets/img/svg/wallet.svg" alt="">
            <h5>Financial Freedom</h5>
        </li>
    </ul>
</section>
<app-home-about></app-home-about>
<app-home-services></app-home-services>
<app-home-projects></app-home-projects>
<app-home-team></app-home-team>

<div class="container sect_more">
    <h4 class="sect_more_title">Let’s get to work</h4>
    <div class="sect_more_btns dis-flex">
        <button class="btn prim_btn" routerLink="/services">Get started</button>
        <button class="btn sec_btn" routerLink="/contact">Contact Us</button>
    </div>
</div>
