<header>
    <div class="container dis-flex">
      <span routerLink="/" class="clickable">
        <img src="../../../../assets/img/logo-white.svg" alt="image" />
      </span>
      <nav class="dis-flex" [class.open-menu]="hamClick">
        <ul class="nav_list">
          <li
            class="nav_list_item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="dis-flex" routerLink=""  (click)="hamClick = false">
              <p>
                Home
              </p>
            </div>
          </li>
          <li
            class="nav_list_item"
            routerLinkActive="active"
          >
          <div class="dis-flex" routerLink="/about" (click)="hamClick = false">
            <p>
              About Us
            </p>
            <img src="../../../../assets/img/arrow-right.png" alt="icon" class="icon">
          </div>
            <div class="dropdown">
              <ul>
                <li routerLink="/about" (click)="hamClick = false">
                  Our company
                </li>
                <li routerLink="/about/management" (click)="hamClick = false">
                  Our management
                </li>
                <li routerLink="/about/board" (click)="hamClick = false">
                  Our board members
                </li>
              </ul>
            </div>
          </li>
          <li
          class="nav_list_item dis-flex"
          routerLinkActive="active"
          >
            <div class="dis-flex" routerLink="/services" (click)="hamClick = false">
              <p>
                Our Services
              </p>
              <img src="../../../../assets/img/arrow-right.png" alt="icon" class="icon">
            </div>
            <div class="dropdown">
              <ul>
                <li>
                  Real Estate, Property/Building and Facility Management
                </li>
                <li>
                  Financial Technology
                </li>
                <li>
                  Financial Institutions Investment
                </li>
              </ul>
            </div>
            
          </li>
          <li
            class="nav_list_item"
            routerLinkActive="active"
          >
            <div class="dis-flex" routerLink="/projects" (click)="hamClick = false">
              <p>
                Projects
              </p>
            </div>
          </li>
          <li
            class="nav_list_item"
            routerLinkActive="active"
          >
            <div class="dis-flex" routerLink="/contact" (click)="hamClick = false">
              <p>
                Contact Us
              </p>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Hamburger -->
      <div class="hamburger clickable" (click)="hamClick = !hamClick">
        <img
          [src]="
            hamClick
              ? '../../../../assets/img/svg/bx-x.svg' 
              : '../../../../assets/img/svg/bx-menu-alt-left.svg'
            "
          alt="icon"
          class="icon"
        />
      </div>
    </div>
  </header>