@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';


header {
  position: fixed;
  width: 100%;
  background-color: $secondary6;
  color: $white-color;
  border-bottom: 1px solid $white-color;
  z-index: 150;
    .container {
        justify-content: space-between;
        height: 5rem;
        .logo {
            display: inline-block;
        }
        nav {
            .nav_list {
                display: flex;
                gap: $s-3;
                @media only screen and (min-width: 1000px) {
                    &_item {
                        position: relative;
                        cursor: pointer;
                        padding: 0.8rem 0;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $white-color;
                            transition: all 0.4s;
                        }
                        &:hover::after,
                        &.active::after {
                            width: 100%;
                        }
                        .dis-flex {
                            gap: 0.3rem;
                        }
                        .icon {
                            transition: all 0.2s ease-out;
                        }
                        .dropdown {
                            @media only screen and (min-width: 1000px) {
                                position: absolute;
                                display: none;
                                top: 100%;
                                left: -0.1rem;
                                min-width: 200px;
                                padding: $s-2;
                                background-color: $white-color;
                                color: $black1;
                                box-shadow: $box-shadow1;
                                ul {
                                    display: grid;
                                    grid-gap: $s-2;
                                    li {
                                        transition: all 0.2s ease-out;
                                        &:hover {
                                            color: $primary6;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            .icon {
                                transform: rotate(90deg);
                            }
                            .dropdown {
                                display: block;
                            }
                        }
                    }
                }
            }
            .nav_btns {
                @media only screen and (min-width: 1000px) {
                    margin-left: $s-6;
                    .btn {
                        &:not(:last-child) {
                            margin-right: $s-2;
                        }
                    }
                }
            }
            @media only screen and (max-width: 1000px) {
                position: absolute;
                left: -100%;
                top: 5rem;
                width: 75%;
                height: calc(100vh - 5rem);
                background-color: $primary6;
                color: $white-color;
                padding: $s-5;
                transition: all 0.2s ease-out;
                .nav_list {
                    display: grid;
                    // flex-direction: column;
                    grid-gap: $s-1;
                    // height: 1000px;
                    max-height: 100%;
                    overflow-y: scroll;
                    &_item {
                        display: block;
                        font-size: 24px;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:not(:last-child) {
                            padding-bottom: $s-2;
                            border-bottom: 1px solid $secondary6;
                        }
                        .icon {
                            display: none;
                        }
                        .dropdown {
                            margin: $s-2 0 0 $s-4;
                            ul {
                                display: grid;
                                grid-gap: $s-1;
                                li {
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .dis-flex {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &.open-menu {
                    left: 0;
                }
                .nav_btns {
                    display: grid;
                    grid-gap: $s-2;
                    .btn {
                    border-radius: $border-radius3;
                    &:first-child {
                        border: transparent;
                    }
                    }
                }
            }
        }
        .hamburger {
            display: none;
            @media only screen and (max-width: 1000px) {
                display: block;
            }
            .icon {
                width: 45px;
            }
        }
    }
}
