@mixin card($value, $auto: auto-fill) {
  // display: grid;
  // grid-gap: $s-4;
  // @media only screen and (min-width: 450px) {
  //     grid-template-columns: repeat($auto, minmax($value, 1fr));
  // }
  display: flex;
  flex-wrap: wrap;
  gap: $s-4;

  @media only screen and (min-width: 650px) {
    justify-content: space-around;
  }

  &_item {
    flex-basis: auto;
    width: 100%;

    @media only screen and (min-width: 650px) {
      width: $value;
    }
  }
}

@mixin icon-area($size, $color: transparent) {
  display: inline-grid;
  place-items: center;
  min-width: $size;
  height: $size;
  border: 1px solid $color;
  background: $color;
  border-radius: 50%;
}

@mixin form {
  display: grid;
  grid-gap: $s-2;

  &_control {
    label {
      display: inline-block;
      margin-bottom: $s-1;
    }

    &_input {
      @include input-field();

      &.is-invalid {
        border: 1px solid $error1 !important;
      }
    }

    &_message {
      // margin-top: $s-1;

      color: $error1;
    }

    // &_btn {
    //     .btn {
    //         width: 100%;
    //     }
    // }
  }

  @mixin input-field {
    width: 100%;
    padding: 0 $s-2;
    background: $white-color;
    border: 1px solid $black1;
    border-radius: $border-radius2;
    transition: all .2s ease-in;

    input,
    textarea {
      width: 100%;
      font-size: 16px;
      border: none;
      outline: none;
      padding: $s-2 0;

      &::placeholder {
        color: $black1;
        font-size: 16px;
      }
    }

    .icon {
      font-size: 18px;
    }

    &:hover {
      border: 1px solid $black1;
    }
  }
