//-- Colors starts --//
// Primary starts //
$primary1: #CDE7EA;
$primary2: #ACD7DD;
$primary3: #83C3CC;
$primary4: #59AEBA;
$primary5: #309AA9;
$primary6: #068698;
$primary7: #05707F;
$primary8: #045965;
$primary9: #03434C;
$primary10: #022D33;
$primary11: #011B1E;
// Primary ends //

// Secondary starts //
$secondary1: #D0D1D5;
$secondary2: #B1B2B9;
$secondary3: #8A8C96;
$secondary4: #626673;
$secondary5: #3B3F50;
$secondary6: #14192D;
$secondary7: #111526;
$secondary8: #0D111E;
$secondary9: #0A0D17;
$secondary10: #07080F;
$secondary11: #040509;
// Secondary ends //

$black1: #2B2B2B;
$black2: #141414;
$black3: #333333;
$white-color: #ffffff;
$background: #FBFBFB;
$success1: #039855;
$error1: #e92c2c; 
$warning1: #FACC15;
$brown: #54251c;


$grey1: #8c8c8c;
$grey2: #a4a4a4;
$grey3: #acacac;

$inner-border: #CFCFD4;
$divider-color1: #ECEDF1;
$divider-color2: #AFB3B8;
//-- Colors ends --//

//-- Box shadow starts --//
$box-shadow1: 0px 8px 20px rgba(0, 0, 0, 0.08);
$box-shadow2: 4px 4px 40px rgba(112, 144, 176, 0.1);
//-- Box shadow ends --//

//-- Border starts --//
$border-radius1: 4px;
$border-radius2: 8px;
$border-radius3: 10px;
$border-radius4: 20px;
$border-radius5: 25px;
//-- Border starts --//

//-- Spacing starts --//
$s-1: 0.5rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 2rem;
$s-5: 2.5rem;
$s-6: 3rem;
//-- Spacing ends --//