<section class="hero sect">
  <div class="container lt_flex_content row-reverse">
    <div class="lt_flex_details">
      <h2 class="lt_flex_details_title">
        About Us
      </h2>
      <p>
        Lasaco Trading and Investment Company Limited is a financial services company based in Lagos. It is
        involved in the trading and investment of a variety of financial products, including stocks, bonds,
        commodities, and other assets. we offer a range of services to individual and institutional clients,
        including financial planning, portfolio management, market analysis, and more.
        We aims to provide our clients with a comprehensive suite of financial services to help them achieve
        their investment goals. The company leverages its expertise in the Nigerian financial markets and its
        understanding of local economic conditions to make informed investment decisions and generate
        profits for its clients.
      </p>
      <div class="lt_flex_details_btn dis-flex">
        <button class="btn prim_btn" routerLink="/about">Read more</button>
      </div>
    </div>
    <div class="lt_flex_img">
      <img src="../../../../../assets/img/home-about-img.png" alt="image" />
    </div>
  </div>
</section>
