<section class="hero sect">
    <div class="container lt_flex_content row-reverse">
      <div class="lt_flex_details">
        <h2 class="lt_flex_details_title">
            About Us
        </h2>
        <p>
          Incorporated on the 12th of May 2022 to carry out integrated financial
          solutions to Clients in the areas of corporate finance and asset
          management. The company is ultimately expected to positively impact
          the bottom-line of the mother company – Lasaco Assurance Plc.
        </p>
        <div class="lt_flex_details_btn dis-flex">
          <button class="btn prim_btn" routerLink="/about">Read more</button>
        </div>
      </div>
      <div class="lt_flex_img">
        <img
          src="../../../../../assets/img/home-about-img.svg"
          alt="image"
        />
      </div>
    </div>
  </section>

  