<section class="hero-sect">
  <div class="hero-sect_content">
      <h2 class="title">About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id.</p>
  </div>
</section>

<section class="sect">
    <div class="container">
        <div class="lt_flex_content">
            <div class="lt_flex_details">
              <h2 class="lt_flex_details_title">
                Our Company
              </h2>
              <p>
                  Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id. Bibendum sagittis mauris urna cras proin potenti faucibus venenatis. Orci tellus facilisis in interdum donec nisi. Libero aliquet libero consequat viverra. Ullamcorper mollis semper pulvinar aliquet sollicitudin congue et ac mi. Lacinia lacus fermentum in risus tempor sollicitudin. Facilisis pretium diam tempus odio aliquam sed. Dignissim pulvinar purus eget netus consequat.
              </p>
            </div>
            <div class="lt_flex_img">
              <img
                src="../../../../assets/img/about-Photo-I.svg"
                alt="image"
              />
            </div>
          </div>
    </div>
</section>

<section class="sect">
  <div class="container">
    <div class="about_list">
      <div class="about_list_item">
          <h3 class="title">Our Vision</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Ut turpis pulvinar dis eu dui aliquet tellus lectus. Mauris tellus sapien sodales neque natoque.</p>
      </div>
      <div class="about_list_item">
          <h3 class="title">Our Vision</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Ut turpis pulvinar dis eu dui aliquet tellus lectus. Mauris tellus sapien sodales neque natoque.</p>
      </div>
      <div class="about_list_item">
          <h3 class="title">Our Core Values</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Ut turpis pulvinar dis eu dui aliquet tellus lectus. Mauris tellus sapien sodales neque natoque.</p>
      </div>
  </div>
  </div>
</section>

<div class="container sect_more">
  <div class="sect_more_btns dis-flex">
      <button class="btn prim_btn" routerLink="/about/management">Meet the team</button>
  </div>
</div>