@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.hero-sect {
  background-image: url('../../../../assets/img/about-hero.jpg');
}

.about {
  &_list {
    @include card(350px);
    max-width: 1200px;
    margin: auto;

    &_item {
      background-color: $white-color;
      padding: 4rem $s-3;
      border-radius: $border-radius3;
      box-shadow: $box-shadow2;
      display: grid;
      grid-gap: $s-2;

      @media only screen and (min-width: 768px) {
        padding: 7rem $s-3;
      }
    }
  }
}
