<section class="sect">
    <div class="container">
        <div class="sect_header">
            <h2>Our Company</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam earum saepe ad impedit tempora itaque, nobis, atque harum adipisci ut quasi quas cumque eum obcaecati, eligendi quam dolor minima voluptatem!</p>
        </div>

        <div class="lt_flex_content">
            <div class="lt_flex_details">
              <h2 class="lt_flex_details_title">
                  About Us
              </h2>
              <p>
                  Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id. Bibendum sagittis mauris urna cras proin potenti faucibus venenatis. Orci tellus facilisis in interdum donec nisi. Libero aliquet libero consequat viverra. Ullamcorper mollis semper pulvinar aliquet sollicitudin congue et ac mi. Lacinia lacus fermentum in risus tempor sollicitudin. Facilisis pretium diam tempus odio aliquam sed. Dignissim pulvinar purus eget netus consequat.
              </p>
              <div class="lt_flex_details_btn dis-flex">
                <button class="btn prim_btn" routerLink="/about">Read more</button>
              </div>
            </div>
            <div class="lt_flex_img">
              <img
                src="../../../../../assets/img/home-about-img.svg"
                alt="image"
              />
            </div>
          </div>
    </div>
</section>