<section class="hero-sect">
  <div class="hero-sect_content">
    <h2 class="title">Current Openings</h2>
    <!-- <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id.</p> -->
  </div>
</section>

<section class="sect send">
  <div class="container">
    <div class="send_area">
      <div class="send_area_cont">
        <img src="../../../../assets/img/svg/message-question.svg" alt="">
      </div>
      <div class="send_area_cont">
        <h4>Kindly send your CV to: info@LTIL.com.ng</h4>
      </div>
    </div>

    <div class="send_btns dis-flex">
      <button class="btn prim_btn" routerLink="/about">Read about us</button>
      <button class="btn sec_btn" routerLink="/services">View our services</button>
    </div>
  </div>
</section>


<!-- <section class="sect careers">
  <div class="container">
    <div class="careers_list">
      <div class="careers_list_item" *ngFor="let career of careers">
        <div class="careers_list_item_details">
          <h4 class="title">{{career.title}}</h4>
          <ul class="dis-flex">
            <li>{{career.type}}</li>
            <li>{{career.salary}}</li>
          </ul>
        </div>
        <div class="careers_list_item_action">
          <a href="mailto: dheyved@gmail.com" class="career-details_content_btn"><button
              class="btn prim_btn">Apply</button></a>

          <span class="dis-flex view clickable" (click)="openCareerDetails(career)">
            <small>View job</small>
            <img src="../../../../assets/img/svg/arrow-long-right.svg" alt="icon" class="icon">
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" *ngIf="isCareerModal">
  <div class="modal_area" [class.show]="isCareerModal">

    <span class="modal_area_close clickable" (click)="isCareerModal = false">
      <img src="../../../../../assets/img/svg/close-square.svg" alt="icon" class="icon">
    </span>
    <app-career-details [career]="currentCareer" (isCareerModal)="closeCareerDetails()"></app-career-details>
  </div>
</div> -->
