<section class="hero-sect">
  <div class="hero-sect_content">
    <h2 class="title">Current Openings</h2>
    <!-- <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id.</p> -->
  </div>
</section>

<section class="sect send">
  <div class="container">
    <div class="send_option">
      <div class="send_option_item">
        <h3 class="title">Students and recent Graduates</h3>
        <p>
          As a fresh graduate, your foundational experience always plays a key role in the future of your career. At Lasaco Trading and Investment, the entirety of our essence is embedded in GROWTH. We make it a priority to provide growth for great minds like yours, who are committed to improving the world. We open our doors to you to ensure you are equipped with the right and necessary steps for the successful career you desire.
        </p>
      </div>
      <div class="send_option_item">
        <h3 class="title">Experienced Professionals</h3>
        <p>
          Meristem is committed to providing ways for employees to learn and grow at every stage of their careers. As an experienced hire in our team, we offer you a dynamic environment that welcomes your wealth of knowledge and ensures you never stop learning and growing as an individual.
        </p>
      </div>
    </div>
    <div class="send_solicited ">
      <div class="send_solicited_box ">
        <img src="../../../../assets/img/svg/message-question.svg" alt="">
      </div>
      <div class="send_solicited_box ">
        <h3 class="title">Unsolicited Applications</h3>
        <h6>Your skills not advertised yet? Send your to <a href="mailto: career@ltil.com.ng" class="clickable">careers@ltil.com.ng</a> and we will get back to you!</h6>
        
      </div>
    </div>

    <div class="send_btns dis-flex">
      <button class="btn prim_btn" routerLink="/about">Read about us</button>
      <button class="btn sec_btn" routerLink="/services">View our services</button>
    </div>
  </div>
</section>


<!-- <section class="sect careers">
  <div class="container">
    <div class="careers_list">
      <div class="careers_list_item" *ngFor="let career of careers">
        <div class="careers_list_item_details">
          <h3 class="title">{{career.title}}</h3>
          <ul class="dis-flex">
            <li>{{career.type}}</li>
            <li>{{career.salary}}</li>
          </ul>
        </div>
        <div class="careers_list_item_action">
          <a href="mailto: dheyved@gmail.com" class="career-details_content_btn"><button
              class="btn prim_btn">Apply</button></a>

          <span class="dis-flex view clickable" (click)="openCareerDetails(career)">
            <small>View job</small>
            <img src="../../../../assets/img/svg/arrow-long-right.svg" alt="icon" class="icon">
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" *ngIf="isCareerModal">
  <div class="modal_area" [class.show]="isCareerModal">

    <span class="modal_area_close clickable" (click)="isCareerModal = false">
      <img src="../../../../../assets/img/svg/close-square.svg" alt="icon" class="icon">
    </span>
    <app-career-details [career]="currentCareer" (isCareerModal)="closeCareerDetails()"></app-career-details>
  </div>
</div> -->
