<!-- Hero -->
<section class="hero sect">
  <div class="bubble left"></div>
  <div class="bubble right"></div>
  <div class="container lt_flex_content">
    <div class="lt_flex_details">
      <h1 class="lt_flex_details_title">
        Welcome to <span>Lasaco</span> Trading and <span>Investment</span> Limited
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Massa sed dui consectetur mi tortor. Id amet viverra dolor nunc est nec
        nisi. Non hac etiam ultricies ipsum urna.
      </p>
      <div class="lt_flex_details_btn dis-flex">
        <button class="btn prim_btn">Get Started</button>
      </div>
    </div>
    <div class="lt_flex_img">
      <img src="../../../../../assets/img/home-hero-img.png" alt="image" />
    </div>
  </div>
</section>
