<!-- Hero -->
<section class="hero sect">
  <div class="bubble-container">
    <div class="bubble left"></div>

    <div class="bubble right"></div>
  </div>
  <div class="container lt_flex_content">
    <div class="lt_flex_details">
      <h1 class="lt_flex_details_title">
        Welcome to <span>Lasaco</span> Trading and <span>Investment</span> Limited
      </h1>
      <p>
        This company offers financial services including investments, technology, and real estate. It helps clients grow their wealth and reach their financial goals.
      </p>
      <div class="lt_flex_details_btn dis-flex">
        <button class="btn prim_btn" routerLink="/contact">Get Started</button>
      </div>
    </div>
    <div class="lt_flex_img">
      <img src="../../../../../assets/img/home-hero-img.png" alt="image" />
    </div>
  </div>
</section>
