<section class="hero-sect">
  <div class="hero-sect_content">
    <h2 class="title">Get in touch</h2>
    <!-- <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod arcu adipiscing vitae fusce id.</p> -->
  </div>
</section>

<section class="services sect">
  <div class="container">
    <div class="sect_header">
      <h2>Our Services</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod
        arcu adipiscing vitae fusce id.</p>
    </div>

    <div class="services_list">
      <div class="services_list_item" *ngFor="let service of services">
        <div class="services_list_item_img">
          <span class="icon">
            <img [src]="service.icon" alt="">
          </span>
        </div>
        <h4 class="title">{{service.title}}</h4>
        <p>{{service.description}}</p>
      </div>
    </div>
  </div>
</section>


<section class="projects sect">
  <div class="container">
    <div class="sect_header">
      <h2>Our Projects</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Fusce massa tortor turpis magna proin morbi. At vitae pharetra euismod
        arcu adipiscing vitae fusce id.</p>
    </div>

    <div class="projects_list">
      <div class="projects_list_item" *ngFor="let project of projects">
        <h4 class="projects_list_item_title">{{project.title}}</h4>
        <div class="projects_list_item_card">
          <div class="projects_list_item_card_item" *ngFor="let item of project.list ">
            <div class="projects_list_item_card_item_img">
              <img [src]="item.image" alt="">
            </div>

            <div class="projects_list_item_card_item_descrp dis-flex">
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container sect_more">
  <h4 class="sect_more_title">Let’s begin that project today</h4>
  <div class="sect_more_btns dis-flex">
    <button class="btn prim_btn" routerLink="/projects">Contact Us</button>
    <button class="btn sec_btn" routerLink="/contact">About Us</button>
  </div>
</div>
