<footer class="footer">
    <div class="container">
        <div class="footer_sub">
            <p>Get Updates about our platform as soon as they arrive.</p>
            <form class="dis-flex">
                <input type="text" placeholder="Enter email to sign up for our newsletter">
                <button class="btn prim_btn">Sign Up</button>
            </form>
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom_content">
                <div class="contact">
                    <h5 class="title">Contact us</h5>

                    <p>LASACO House, Plot 16 Acme Road Ogba, P.O. Box 3724 Ikeja, Lagos, Nigeria.</p>
                    <ul class="contact_socials dis-flex">
                        <li class="contact_socials_item">
                            <a href="">
                                <img src="../../../../assets/img/svg/facebook.svg" alt="">
                            </a>
                        </li>
                        <li class="contact_socials_item">
                            <a href="">
                                <img src="../../../../assets/img/svg/instagram.svg" alt="">
                            </a>
                        </li>
                        <li class="contact_socials_item">
                            <a href="">
                                <img src="../../../../assets/img/svg/twitter.svg" alt="">
                            </a>
                        </li>
                        <li class="contact_socials_item">
                            <a href="">
                                <img src="../../../../assets/img/svg/linkedin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="links-area">
                    <h5 class="title">Links</h5>
                    <ul class="links-area_list">
                        <li>
                            <p>
                                Home
                            </p>
                        </li>
                        <li>
                            <p>
                                Career
                            </p>
                        </li>
                        <li>
                            <p>
                                Contact Us
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="links-area">
                    <h5 class="title">About Us</h5>
                    <ul class="links-area_list">
                        <li>
                            <p>
                                Our company
                            </p>
                        </li>
                        <li>
                            <p>
                                Our Management
                            </p>
                        </li>
                        <li>
                            <p>
                                Our board members
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="links-area">
                    <h5 class="title">Our Services</h5>
                    <ul class="links-area_list">
                        <li>
                            <p>
                                Real Estate, Property/Building and Facility Management
                            </p>
                        </li>
                        <li>
                            <p>
                                Financial Technology
                            </p>
                        </li>
                        <li>
                            <p>
                                Financial Institutions Investment
                            </p>
                        </li>  
                    </ul>
                </div>
            </div>
            <div class="footer_bottom_copyright">
                <p><img src="../../../../assets/img/svg/copyright.svg" alt="" class="icon"> 2022 Lasaco Trading & Investment Company Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>