// Font //
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

// background: linear-gradient(to right, #87211c, #490249);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  position: relative;
  color: $black1;
  letter-spacing: 0.01em;
  overflow-x: hidden;
}

/* General starts */
a {
  color: $black1;
}

button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: 'Mulish', sans-serif;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  //   &[readonly] {
  //     background: $grey2 !important;
  //   }
}

input::placeholder,
textarea::placeholder {
  font-family: 'Mulish', sans-serif;
}

textarea {
  resize: none;
}

/* Buttons Starts */
.btn {
  position: relative;
  display: inline-block;
  padding: 14px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-radius: $border-radius1;
  text-align: center;
  outline: none;
  transition: all 0.2s;
  z-index: 1;

  &[disabled] {
    cursor: not-allowed;
  }
}

.prim_btn {
  color: $white-color;
  background: $primary6;
  border: 1px solid $primary6;

  &:hover,
  &:focus,
  &:active {
    background: $primary8;
  }
}

.sec_btn {
  color: $secondary6;
  background: transparent;
  border: 1px solid $secondary6;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $secondary11;
    color: $secondary11;
  }
}

/* Buttons ends */

// .bg-success-color {
//   background: $success1;
// }
// .bg-danger-color {
//   background: $error1;
// }
// .bg-warning-color {
//   background: $warning1;
// }
// .text-success {
//   color: $success1;
// }
// .text-danger {
//   color: $error1;
// }
// .text-warning {
//   color: $warning1;
// }
.dis-flex {
  display: flex;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.uc {
  text-transform: uppercase;
}

.hover-1 {
  transition: all 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

// Heading and paragragh starts //
h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: .9rem;
  font-weight: 500;
  text-align: justify;
  line-height: 30px;
}

small {
  font-size: 0.75rem;

}

// Heading and paragragh ends //

/* Section starts */
.container {
  padding: 0 5%;

  @media screen and (min-width: 1200px) {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.sect {
  margin: 1rem auto;
  padding: 3% 0;

  @media only screen and (max-width: 870px) {
    margin: $s-2 auto;
  }

  &_header {
    margin-bottom: $s-6;
    text-align: center;

    @media only screen and (min-width: 870px) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-top: $s-2;
      text-align: center;
    }
  }
}

/* Section ends */

/* Section flex starts */
.lt_flex_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $s-4;

  @media only screen and (max-width: 670px) {
    display: grid;
    grid-gap: $s-4;
  }

  &.row-reverse {
    flex-direction: row-reverse;
  }

  .lt_flex_details {
    flex-basis: 50%;

    &_title {
      margin-bottom: $s-2;
    }

    &_parags {
      p {
        &:not(:last-child) {
          margin-bottom: $s-1;
        }
      }
    }

    .btn {
      margin-top: $s-4;
    }
  }

  .lt_flex_img {
    flex-basis: 40%;

    img {
      max-width: 100%;
      height: auto;
      border-radius: $s-2;
      position: relative;
    }
  }
}

/* Section flex ends */

/* Sections more starts */
.sect_more {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: $s-6 auto;

  &_title {
    margin-bottom: $s-2;
  }

  &_btns {
    gap: $s-4;
  }
}

/* Sections more ends */

/* Hero sect starts */
// Hero sect
.hero-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 45, 51, 0.5);
  color: $white-color;
  // background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;

  // @media only screen and (min-width: 745px) {
  //   margin: 5%; // same as the general sect size
  //   border-radius: $border-radius3;
  // }

  &_content {
    display: grid;
    align-content: center;
    text-align: center;
    // filter: drop-shadow(0px 3.13433px 3.13433px rgba(0, 0, 0, 0.03));
    padding: 5%; // same as the general sect size

    @media only screen and (min-width: 745px) {
      border-radius: $border-radius3;
      width: 60%;
    }

    .title {
      margin-bottom: $s-2;
    }

    p {
      text-align: center;
    }
  }
}

/* Hero sect ends */


/* Bubbles */
section:has(.bubble) {
  position: relative;
  // overflow: hidden;
}

.bubble-container {
  width: 100vw;
  height: 150vh;

  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.bubble {
  width: 20vh;
  height: 13vh;
  border-radius: 50%;

  position: absolute;
  z-index: -1;

  &.left {
    left: -25%;
    top: 5%;

    &.top {
      top: 25%;
    }

    &.bottom {
      top: unset;
      bottom: 35%;
    }
  }

  &.right {
    right: -25%;
    bottom: 25%;
  }

  @media only screen and (min-width: 768px) {
    width: 25%;
    height: 25%;
  }
}

.bubble:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #068698;
  background: -webkit-radial-gradient(circle, #068698 0%, #ffffff 100%);
  background: radial-gradient(circle, #068698 0%, #ffffff 100%);
  transform: translate3d(0px, 20px, 0) scale(1.5);
  filter: blur(100px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.bubble::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
