@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.hero-sect {
  background-image: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), url('../../../../assets/img/contact-hero.png');
}

.icon-area {
  @include icon-area(35px, $background);
}

.contact_method {
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow2;

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    gap: $s-4;
  }

  .title {
    margin-bottom: $s-4;
  }

  &_info,
  &_talk {
    flex-basis: 50%;
    padding: $s-6;

    @media only screen and (max-width: 550px) {
      padding: $s-3;
    }
  }

  &_info {
    background-color: $primary6;
    color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $s-6;

    a {
      color: $white-color;
    }

    .contact_info_list {
      display: grid;
      grid-gap: $s-6;

      &_item {
        display: flex;
        align-items: center;
        gap: $s-2;

        .icon {
          width: 20px;
          height: 20px;
        }

        &_content {
          .content_title {
            margin-bottom: $s-1;
          }
        }
      }
    }

    .contact_info_social {
      gap: $s-2;
    }
  }

  &_talk {
    background-color: $white-color;
    border-radius: $border-radius3;

    .form {
      @include form();
    }
  }
}
